.qtodo_title {
	text-align: center;
	font-weight: bold;
}
.qtodo_listContainer {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
}
.qtodo_newEntryContainer {
	spacing: 5px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
}
.qtodo_taskButtonContainer {
	float: right;
	align-content: right;
	align-items: right;
	text-align: right;
	text-align-last: right;
}